.side__menu {


    flex: 1;
    transition: all 1s;

    &-images {
        display: flex;
        overflow: hidden;

        &>figure img {
            display: block;
            width: 100%;
            object-fit: cover;

            @media only screen and (max-width:48em) {
                width: 100%;

            }
        }
    }

}

.heading {
    display: flex;
    align-items: center;
    background-color: var(--color-light1);


    & .upper {
        &>h1 {
            @media only screen and (max-width:40em) {
                font-size: 1.7rem;
                font-weight: 600;
                gap: 0;

            }

            @media only screen and (max-width:38em) {
                font-size: 1.5rem;
                font-weight: 600;
                gap: 0;

            }

            font-size: 2.7rem;
            text-transform: uppercase;
        }

        &>aside {
            @media only screen and (max-width:40em) {
                font-size: 1.1rem;
                align-items: baseline;


            }

            font-size: 1.8rem;
            color: var(--color-primary);
        }

        display: flex;
        align-items: baseline;
        flex: 0 0 30%;
        justify-content: center;
        gap: 2rem;

    }

    & .location {
        margin-left: auto;
        display: inline-flex;
        height: 100%;
        align-items: center;
        flex: 0 0 auto;

        @media only screen and (max-width:48em) {
            flex: 0 1 auto;


        }

        &-icon {
            @media only screen and (max-width:48em) {
                font-size: 1.3rem;


            }

            font-size: 1.8rem;
            color: var(--color-primary);
        }

        &>p:first-child {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-right: 1rem;
            width: 100%;


            a:is(:link, :visited) {
                @media only screen and (max-width:40em) {
                    font-size: 1.4rem;


                }

                display: inline-block;
                font-size: 1.6rem;
                text-decoration: none;
                color: inherit;
                position: relative;

                // transition: all 0.6s;
                &::after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    top: 27px;
                    left: 2px;
                    width: 15px;
                    transform: scale(1);
                    height: 3px;
                    background-color: var(--color-primary);
                    transition: all 0.5s ease-in;
                    border-radius: 10px;

                    @media only screen and (max-width:48em) {
                        top: 20px;


                    }

                }

                &:hover::after {
                    transform: scale(1) translateX(9rem);
                    // width: 100%;
                    transform-origin: right;


                }

            }
        }

        &>p:last-child {

            align-self: stretch;

            &.sidebar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: 600;
                color: var(--color-light1);
                background-color: var(--color-dark);

                padding: 0.6rem 1.6rem 0.5rem 1.6rem;

                @media only screen and (max-width:48em) {
                    font-size: 1.8rem;


                }

                .counts {
                    @media only screen and (max-width:48em) {
                        font-size: 0.8rem;


                    }

                    text-align: center;
                    display: inline-block;
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--color-light2);
                }
            }
        }
    }
}

///
/// 
.cta- {
    &flex {
        @media only screen and (max-width:48em) {
            gap: 1rem;
            padding: 2rem;


        }

        @media only screen and (max-width:40em) {
            flex-direction: column;


        }

        display: flex;

        gap: 3rem;
        background-color: var(--color-light2);
        padding: 3rem 5rem;

        &-left {
            flex: 0 0 60%;

            @media only screen and (max-width:48em) {
                padding: 2rem 1rem 0 2rem;
                flex: auto;
                border-radius: 1rem;


            }

            padding: 2rem 2rem 0 3rem;
            background-color: var(--color-light1);
            border-radius: 2rem;
            box-shadow: 0px 0px 15px rgba($color: #555, $alpha: 0.1);
            padding-bottom: 3rem;

            & .review {
                margin-top: 2rem;

                @media only screen and (max-width:38em) {
                    margin-bottom: 2rem;


                }
            }

            & .recomend {
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--color-gray-3);
                flex: 0 1 60%;

                @media only screen and (max-width:48em) {
                    font-size: 1.1rem;


                }


            }

            & .users {
                display: flex;
                align-items: center;
                flex: 1;


                &>img {
                    display: block;

                    height: 13%;
                    width: 13%;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: -0.5rem;
                    outline: 2px solid white;

                    @media only screen and (max-width:40em) {
                        height: 12%;
                        width: 12%;
                        margin-right: -0.4rem;
                    }
                }
            }

            & .list-container {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.4rem;

                @media only screen and (max-width:40em) {
                    font-size: 1.2rem;


                }

                & .list-items {
                    padding: 1rem;
                    flex: 0 0 50%;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;

                    &::before {
                        content: "";
                        display: inline-block;
                        width: 1.2rem;
                        height: 1.2rem;
                        background-color: var(--color-primary);
                        mask: url(../../public/img/chevron-thin-right.svg);
                        mask-size: cover;
                        -webkit-mask: url(../../public/img/chevron-thin-right.svg);
                        -webkit-mask-size: cover;


                    }

                }

            }

            &>p {
                @media only screen and (max-width:40em) {
                    font-size: 1.2rem;
                }

                font-size: 1.3rem;
                line-height: 1.6;


            }

            & .review {
                display: flex;
                align-items: center;


            }
        }

        &-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @media only screen and (max-width:40em) {
                margin: 0;
                gap: 1.5rem;
            }

            border-radius: 1rem;
            align-items: center;
            border-radius: 2rem;

            margin-left: 4rem;

            & .btn:is(:link, :visited) {
                font: unset;
                display: inline-block;
                text-decoration: unset;
                font-size: 1.4rem;
                color: var(--color-dark);
                font-weight: 600;
                border-bottom: 1px solid var(--color-dark);
                align-items: center;
                transition: all 0.4s;



                &:hover {
                    color: var(--color-light);
                    border-bottom: 1px solid var(--color-light);
                    transform: translateY(-2px);

                }
            }

            & .first-block {
                background-color: var(--color-light1);
                padding: 3rem 3rem;
                border-radius: 2rem;
                font-size: 1.2rem;
                margin: 0 1rem;
                max-width: 80%;
                box-shadow: 0px 0px 15px rgba($color: #555, $alpha: 0.1);
                position: relative;
                overflow: hidden;

                @media only screen and (max-width:38em) {
                    max-width: 100%;
                    border-radius: 1rem;

                }

                &-text {
                    z-index: 100;
                    position: relative;

                }

                &::after {
                    content: "\201C";
                    display: inline-block;
                    font-family: sans-serif;
                    font-size: 20rem;
                    position: absolute;
                    top: -8.8rem;
                    left: -7px;
                    color: #eee;
                    z-index: 0;
                }

                &-detail>.image {
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;
                    margin-top: 2rem;

                    & .score {
                        font-size: 2.5rem;
                        color: var(--color-primary);
                        font-weight: 600;
                        margin-left: auto;
                    }

                    &>img {
                        width: 13%;
                        height: 13%;
                        border-radius: 50%;
                    }

                    & .user {
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    & .date {
                        font-size: 01rem;
                        margin-top: 0.2rem;
                    }
                }
            }
        }
    }
}

.last {
    padding: 1rem 0;
    margin-bottom: 1rem;
}